<ion-header>
  <ion-navbar color="primary">

    <ion-title text-center>
      Books Collection
    </ion-title>

    <ion-buttons left>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="sortingActionSheet()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="booksDataProvider.booksCollection.length==0"
            text-center>
    <ion-card-content style="text-align: left">
      <h2 class="text-card">
        Todavía no tienes ningún libro añadido a la colección.
      </h2>
      <br>
      <h2 class="text-card">
        Regístrate para guardar tu colección en la nube y poder acceder a ella desde cualquier dispositivo.
      </h2>
      <br>
      <h2 class="text-card">
        Si no te apetece registrarte, igualmente estará segura en este dispositivo.
      </h2>
    </ion-card-content>
  </ion-card>


  <ion-list *ngIf="booksDataProvider.booksCollection.length>0">
    <ion-item-sliding *ngFor="let book of booksDataProvider.booksCollection, let i = index">
      <ion-item class="item-list"
                (click)="goToDetails(book)">
        <!-- Si existe carátula -->
        <img class="img-collection" *ngIf="book.volumeInfo.imageLinks"
             [src]="book.volumeInfo.imageLinks.thumbnail" alt="portada">
        <!-- Si no existe carátula -->
        <img class="img-collection" *ngIf="!book.volumeInfo.imageLinks"
             src="http://via.placeholder.com/150x180" alt="no-portada">

        <div class="text-list">
          <h1>{{book.volumeInfo.title}}</h1>
          <h2>{{book.volumeInfo.authors}}</h2>
          <h2>{{book.volumeInfo.publishedDate}}</h2>
          <p *ngIf="book.volumeInfo.pageCount"
             style="color:white">
            {{book.volumeInfo.pageCount}} páginas
          </p>
        </div>

      </ion-item>

      <ion-item-options side="right" (ionSwipe)="delete(book, i)">
        <button ion-button
                color="danger"
                icon-only
                (click)="delete(book, i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab
            color="light"
            (click)="searchModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>

