page-home {

  .img-collection {
    float: left;
    width: 25%;
  }

  .text-list {
    padding-left: 30%;
  }

  .rating {
    position: absolute;
    bottom: 12px;
    right: 10px;
  }

  .scroll-content {
    background-color: #111111;
  }

  .item-list {
    background-color: #777777;
  }

  p.rating {
    color: white;
  }

  .text-card {
    color: black;
  }







}
