<ion-header>
  <ion-navbar>

    <ion-title>
      Books Collection
    </ion-title>

    <ion-buttons left>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button
              icon-only
              (click)="sortingActionSheet()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1 *ngIf="booksDataProvider.booksCollection.length==0">No tienes ningún libro en la biblioteca.</h1>

  <ion-list *ngIf="booksDataProvider.booksCollection.length>0">
    <ion-item *ngFor="let book of booksDataProvider.booksCollection">
      <ion-thumbnail item-start>
        <!-- Si existe carátula -->
        <img *ngIf="book.volumeInfo.imageLinks"
             [src]="book.volumeInfo.imageLinks.thumbnail" alt="portada">
        <!-- Si no existe carátula -->
        <img *ngIf="!book.volumeInfo.imageLinks"
             src="http://via.placeholder.com/150x180" alt="no-portada">
      </ion-thumbnail>
      <h2>{{book.volumeInfo.title}}</h2>
      <p>{{book.volumeInfo.authors}} · {{book.volumeInfo.publishedDate}}</p>
      <ion-buttons>
        <button ion-button
                clear
                item-end
                (click)="goToDetails(book)">
          Detalles
        </button>
        <button ion-button
                clear
                item-end
                (click)="delete(book)">
          Borrar
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab
            color="primary"
            (click)="searchModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


</ion-content>

