<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
        {{authenticationProvider.email}}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <button class="menu-button"
              *ngIf="!authenticationProvider.logged && authenticationProvider.actualPage!='LoginPage'"
              ion-item (click)="openPage('LoginPage')">
        <ion-icon name="log-in"></ion-icon>
          Iniciar sesión
      </button>

      <button class="menu-button" *ngIf="authenticationProvider.logged"
              ion-item (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
          Cerrar sesión
      </button>

      <button class="menu-button" *ngIf="authenticationProvider.actualPage=='LoginPage'"
              ion-item (click)="openPage('TabsPage')">
        Colección
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
