<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <button *ngIf="!authenticationProvider.logged && authenticationProvider.actualPage!='LoginPage'"
        ion-item (click)="openPage('LoginPage')">
        Iniciar sesión
      </button>

      <button *ngIf="authenticationProvider.logged"
        ion-item (click)="logout()">
        Cerrar sesión
      </button>

      <button *ngIf="authenticationProvider.actualPage=='LoginPage'"
        ion-item (click)="openPage(tabsPage)">
        Colección
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
