page-search {

  .scroll-content {
    background-color: #444444;
  }

  .item-list {
    background-color: #777777;
  }

  .img-list {
    width: 100%;
  }

  .text-list {
    color: white;
    white-space: normal;
  }

  .add-button {
    float: right;
    height: 100%;
    width: 100%;
    color: white;
    background-color: #444444;
  }

}
