<ion-header>

  <ion-navbar color="primary">

    <ion-title text-center>
      Búsqueda
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of booksSearched"
              class="item-list">

      <ion-row>

        <ion-col col-3>
          <img *ngIf="book.volumeInfo.imageLinks"
               [src]="book.volumeInfo.imageLinks.thumbnail"
               class="img-list">
          <p *ngIf="!book.volumeInfo.imageLinks"
             class="text-list">
            Imagen no disponible
          </p>
        </ion-col>

        <ion-col col-7>
          <div class="text-list">
            <h1>{{book.volumeInfo.title}}</h1>
            <h2>{{book.volumeInfo.authors}}</h2>
            <h2>{{book.volumeInfo.publisher}}</h2>
            <h2>{{book.volumeInfo.publishedDate}}</h2>
          </div>
        </ion-col>

        <ion-col col-2>
          <button ion-button
                  class="add-button"
                  icon-only
                  (click)="addBookToCollection(book)">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>








    </ion-item>
  </ion-list>
</ion-content>

