<ion-header>

  <ion-navbar color="primary">

    <ion-title text-center>
      Resultados
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of booksSearched"
              class="item-list"
              (click)="addBookToCollection(book)">

      <ion-row>

        <ion-col col-3>
          <!--Si existe imagen-->
          <img *ngIf="book.volumeInfo.imageLinks"
               [src]="book.volumeInfo.imageLinks.thumbnail"
               class="img-list">
          <!--Si no existe imagen-->
          <img *ngIf="!book.volumeInfo.imageLinks"
               src="../../assets/imgs/Imagen_no_disponible.svg"
               alt="portada no disponible"
               class="img-list"/>
        </ion-col>

        <ion-col col-9>
          <div class="text-list">
            <h2 id="title">{{book.volumeInfo.title}}</h2>
            <h3 class="truncated-text italics">{{book.volumeInfo.authors}}</h3>
            <h3 class="italics">{{book.volumeInfo.publisher}}</h3>
            <h3 class="italics">{{book.volumeInfo.publishedDate}}</h3>
          </div>
        </ion-col>
      </ion-row>

    </ion-item>
  </ion-list>
</ion-content>

