page-search {

  .scroll-content {
    background-color: #444444;
  }

  .item-list {
    background-color: #777777;
  }

  .img-list {
    width: 100%;
  }

  .text-list {
    color: white;
    white-space: normal;
  }

  .truncated-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #title {
    font-weight: bold;
    font-size: 18px;
    color: #BBBBBB;

  }

  .italics {
    font-style: italic;
  }

}
