<ion-header>
  <ion-navbar>

    <ion-title>
      Books Collection
    </ion-title>

    <ion-buttons left>
      <button ion-button
              icon-only
              menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let book of booksDataProvider.booksCollection">

        <!-- Si existe carátula -->
        <img *ngIf="book.volumeInfo.imageLinks.thumbnail"
             (click)="goToDetails(book)"
             [src]="book.volumeInfo.imageLinks.thumbnail" alt="portada">
        <!-- Si no existe carátula -->
        <label *ngIf="!book.volumeInfo.imageLinks.thumbnail"
               (click)="goToDetails(book)">
          <img src="http://via.placeholder.com/150x350" alt="no-portada">
          <p>{{book.volumeInfo.title}}</p>
        </label>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-fab right bottom>
    <button ion-fab
            color="primary"
            (click)="searchModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
