page-details {

  .scroll-content {
    background-color: #444444;
  }

  a {
    color: #AAAAAA;
  }

  .title-card {
    background-color: #333333;
    text-align: center;
    border: 1px #AAAAAA dotted;
  }

  .details {
    background-color: #333333;
    color: #AAAAAA;
  }

  .img-detail {
    float: left;
    margin: 5px;
    height: 180px;
    width: 132px;
  }

  .description {
    background-color: #333333;
    color: #AAAAAA;
  }

  ion-card-content {
    background-color: #333333;
  }






}
