<ion-header>

  <ion-navbar>
    <ion-title>{{book.volumeInfo.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <!-- Si existe carátula -->
            <img *ngIf="book.volumeInfo.imageLinks"
                 [src]="book.volumeInfo.imageLinks.thumbnail" alt="portada">
            <!-- Si no existe carátula -->
            <img *ngIf="!book.volumeInfo.imageLinks"
                 src="http://via.placeholder.com/150x180"
                 alt="no-portada">
          </ion-col>
          <ion-col col-6>
            <ion-row>
              <h1>{{book.volumeInfo.title}}</h1>
            </ion-row>
            <ion-row *ngIf="book.volumeInfo.authors">
              {{book.volumeInfo.authors}}
            </ion-row>
            <ion-row *ngIf="book.volumeInfo.publishedDate">
              {{book.volumeInfo.publishedDate}}
            </ion-row>
            <ion-row *ngIf="book.volumeInfo.pageCount">
              {{book.volumeInfo.pageCount}} páginas
            </ion-row>
            <ion-row *ngIf="book.volumeInfo.publisher">
              {{book.volumeInfo.publisher}}
            </ion-row>
            <ion-row *ngIf="book.volumeInfo.languaje">
              {{book.volumeInfo.languaje}}
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <p>
              {{book.volumeInfo.description}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

