<ion-header>

  <ion-navbar color="primary">

    <ion-title text-center>
      {{book.volumeInfo.title}}
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card style="background-color: #333333">

    <ion-item class="title-card">
      <h1 class="title">{{book.volumeInfo.title}}</h1>
      <h2 class="color">{{book.volumeInfo.authors}}</h2>
    </ion-item>

    <ion-card-content>
      <ion-item class="details">

        <h3 *ngIf="book.volumeInfo.publisher"
            class="color">
          Editorial: {{book.volumeInfo.publisher}}
        </h3>
        <h3 *ngIf="book.volumeInfo.publishedDate"
            class="color">
          Fecha de publicación: {{book.volumeInfo.publishedDate}}
        </h3>
        <h3 *ngIf="book.volumeInfo.pageCount"
            class="color">
          Páginas: {{book.volumeInfo.pageCount}} páginas
        </h3>
        <h3 *ngIf="book.volumeInfo.previewLink"
            class="color">
          <a [href]="book.volumeInfo.previewLink">Preview</a>
        </h3>

      </ion-item>

      <!-- Si hay carátula -->
      <img *ngIf="book.volumeInfo.imageLinks"
           class="img-detail"
           [src]="book.volumeInfo.imageLinks.thumbnail">
      <!-- Si no hay carátula -->
      <img *ngIf="!book.volumeInfo.imageLinks"
           class="img-detail"
           src="../../assets/imgs/Imagen_no_disponible.svg" alt="portada no disponible">

      <p class="description">{{book.volumeInfo.description}}</p>
      <p class="description" *ngIf="!book.volumeInfo.description">Descripción no disponible</p>

    </ion-card-content>

  </ion-card>


</ion-content>

